{% extends "base.html" %}
{% block title %}
    Password Change Done
{% endblock title %}
{% block content %}
    <div class="bg-white rounded-lg shadow-lg p-16 mx-auto max-w-md text-center">
        <h2 class="text-2xl font-semibold mb-6">Change Your Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 text-left">Old Password:</label>
                    <input type="password" name="old_password" id="{{ form.password1.id_for_label }}" class="block w-full px-4 py-2 rounded-md border-gray-300 focus:ring focus:ring-blue-200" placeholder="Old Password">
                </div>
                <div class="mb-4">
                    <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 text-left">New Password:</label>
                    <input type="password" name="new_password1" id="{{ form.password2.id_for_label }}" class="block w-full px-4 py-2 rounded-md border-gray-300 focus:ring focus:ring-blue-200" placeholder="New Password">
                </div>
                <div class="mb-4">
                    <label for="{{ form.password3.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 text-left">Confirm New Password:</label>
                    <input type="password" name="new_password2" id="{{ form.password3.id_for_label }}" class="block w-full px-4 py-2 rounded-md border-gray-300 focus:ring focus:ring-blue-200" placeholder="Confirm New Password">
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Change Password</button>
            </form>
    </div>
{% endblock content %}