{% load static %}
<link rel="stylesheet" href="{% static 'main/create_profile.css' %}">
{% block content %}
    <div class="form-container">
        <h2 class="header">Create Your Profile</h2>
        <form class="form-control">
            <div class="input-container">
                {{ form.first_name }}
                {{ form.last_name }}
            </div>
            <div class="input-container">{{ form.email }}</div>
            <div class="input-container">
                {{ form.date_of_birth }}
                {{ form.pronouns }}
            </div>
            <div class="input-container">{{ form.major }}</div>
            <div class="input-container">{{ form.tags }}</div>
            <button type="submit">Create Profile</button>
        </form>
    </div>
{% endblock content %}
{% comment %} {% load static %}
<link rel="stylesheet" href="{% static 'main/create_user.css' %}">
<div class="profile-form">
    <div class="heading">
        <h1>Create a New Profile</h1>
    </div>
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your name:</p>
                </div>
                <div class="input-container">{{ form.name }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your age:</p>
                </div>
                <div class="input-container">{{ form.age }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your major:</p>
                </div>
                <div class="input-container">{{ form.major }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Choose your pronouns:</p>
                </div>
                <div class="input-container">{{ form.pronouns }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Select your interests:</p>
                </div>
                <div class="input-container tags-container">
                    {% for checkbox in form.tags %}
                        <label class="tag-label">{{ checkbox.tag }} {{ checkbox.choice_label|capfirst }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="submit">Create Profile</button>
            </div>
        </form>
    </div>
</div> {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/create_user.css' %}">
<div class="profile-form">
    <div class="heading">
        <h1>Create a New Profile</h1>
    </div>
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-label">
                    <p>Date of Birth:</p>
                </div>
                <div class="input-container">{{ form.date_of_birth }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your age:</p>
                </div>
                <div class="input-container">{{ form.age }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your major:</p>
                </div>
                <div class="input-container">{{ form.major }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Choose your pronouns:</p>
                </div>
                <div class="input-container">{{ form.pronouns }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Select your interests:</p>
                </div>
                <div class="input-container tags-container">
                    {% for checkbox in form.tags %}
                        {{ checkbox }}
                        <label class="tag-label">{{ checkbox.tag }} {{ checkbox.choice_label|capfirst }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="submit">Create Profile</button>
            </div>
        </form>
    </div>
</div>
