{% extends "base.html" %}
{% block title %}
    Discover
{% endblock title %}
{% block content %}
    <div class="w-full mx-auto overflow-auto">
        <div class="mb-10">
            <form class="flex items-center"
                  method="get"
                  action="{% url 'main:discover' %}">
                <label for="search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <input type="text"
                           name="q"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  "
                           placeholder="Search for post titles or descriptions...">
                </div>
                <button type="submit"
                        name="action"
                        value="search"
                        class="inline-flex items-center py-2.5 px-3 mx-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                    <svg class="mr-1 w-5 h-5"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                    Search
                </button>
                <button type="submit"
                        name="action"
                        value="clear"
                        class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-black bg-white rounded-lg border border-black hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    Clear
                </button>
            </form>
            <form class="flex items-center">
                <label for="search-tags" class="sr-only">Search by Tags</label>
                {% comment %} TODO: Search with tags {% endcomment %}
            </form>
        </div>
        {% if object_list %}
            {% for post in object_list %}
                {% include "posts/post_card.html" with post=post %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
{% comment %} <h2>Discover</h2>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li style="display: inline-block">
                    <a href="{% url 'main:discover' %}?tag={{ tag }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get" action="{% url 'main:discover' %}">
        {{ form.query }}
        <button type="submit">Search</button>
        <a href="{% url 'main:discover' %}">Clear</a>
    </form>

    {% if results %}
        <ul>
            {% for post in results %}
                {% if post.status == 2 %}
                    <li>
                        <a href="{% url 'posts:post_details_view' post.pk %}">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}


{% endblock %} {% endcomment %}
