{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto my-60">
        <div>
            <div class="bg-white relative shadow rounded-lg w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto">
                <div class="flex-row justify-center">
                    {% for post in all_posts %}
                        <div class="my-10">
                            <div class="block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                                <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50">
                                    {{ post.poster.username|capfirst }}
                                </div>
                                <div class="p-6">
                                    <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">{{ post.title }}</h5>
                                    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">{{ post.description }}</p>
                                    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                                        Post Tags:
                                        {% for tag in post.tags.all %}
                                            {{ tag.name|capfirst }}
                                            {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </p>
                                    <div class="border-t-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50">
                                        <p>Time Posted: {{ post.timestamp }}</p>
                                    </div>
                                    <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-blue-500"
                                       onclick="changeActiveTab(event,'tab-active-posts')">
                                        <i class="fas fa-space-shuttle text-base mr-1"></i>  See Post
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
