{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %}
{% comment %} {% if user.is_authenticated %}
<p>Logged in as <a href="{% url 'main:profile' user.pk %}">{{user.username}}</a></p>
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
{% endif %} {% endcomment %}
{% block content %}
{% if latest_posts_list %}
    <ul>
        {% for post in latest_posts_list %}
            {% if post.status == 2 %}
                <li>
                    <a href="{% url 'posts:post_details_view' post.pk %}">{{ post.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock content %}
{% comment %} <a href="{% url 'posts:create_post_view' %}">New Post</a> {% endcomment %}
