{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if latest_posts_list %}
        <ul>
            {% for post in latest_posts_list %}
                {% if post.status == 2 %}
                    <li>
                        <a href="{% url 'posts:post_details_view' post.pk %}">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}
