{% extends "base.html" %}
{% block navbar %}
    <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto"
                 src="https://user-images.githubusercontent.com/119933910/271819796-02f0a22e-38d9-4489-92b5-ed2c99db654b.png"
                 alt="">
        </a>
    </div>
{% endblock navbar %}
{% block content %}
    <div class="bg-white rounded-lg shadow-lg p-8 mx-auto max-w-md">
        <h2 class="text-2xl font-semibold mb-6">Create Your Account</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="bg-red-100 border border-red-400 rounded text-red-700 p-2 mb-4">
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <div class="flex mb-4">
                <div class="w-1/2 pr-2">
                    <label for="{{ form.username.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                    {{ form.username }}
                </div>
                <div class="w-1/2 pl-2">
                    <label for="{{ form.full_name.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Full Name:</label>
                    {{ form.full_name }}
                </div>
            </div>
            <div class="flex mb-4">
                <div class="w-1/2 pr-2">
                    <label for="{{ form.password1.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="w-1/2 pl-2">
                    <label for="{{ form.password2.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Confirm Password:</label>
                    {{ form.password2 }}
                </div>
            </div>
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}"
                       class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                {{ form.email }}
            </div>
            <div class="flex mb-4">
                <div class="w-1/2 pr-2">
                    <label for="{{ form.date_of_birth.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Date of Birth:</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="w-1/2 pl-2">
                    <label for="{{ form.age.id_for_label }}"
                           class="block text-gray-700 text-sm font-bold mb-2">Age:</label>
                    {{ form.age }}
                </div>
            </div>
            <div class="mb-4">
                <label for="{{ form.major.id_for_label }}"
                       class="block text-gray-700 text-sm font-bold mb-2">Major:</label>
                {{ form.major }}
            </div>
            <div class="mb-4">
                <label for="{{ form.pronouns.id_for_label }}"
                       class="block text-gray-700 text-sm font-bold mb-2">Pronouns:</label>
                {{ form.pronouns }}
            </div>
            <div class="mb-4">
                <label for="{{ form.tags.id_for_label }}"
                       class="block text-gray-700 text-sm font-bold mb-2">Interests:</label>
                {% for tag in form.tags %}
                    <label class="flex flex-row justify-between">
                        <span class="text-gray-700">{{ tag.choice_label }}:</span>
                        {{ tag.tag }}
                    </label>
                {% endfor %}
            </div>
            <button type="submit"
                    class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Create Account</button>
        </form>
    </div>
{% endblock content %}
