{% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messages = [
                {% for message in messages %}
                    "{{ message }}",
                {% endfor %}
            ];

            for (var i = 0; i < messages.length; i++) {
                alert(messages[i]);
            }
        });
    </script>
{% endif %}
{% load main_customfilters %}
{% load username_customfilters %}
<div class="rounded-xl bg-white mx-2 my-3">
    <div class="flex flex-wrap items-start">
        <a href="{% url 'main:profile_page' comment.commentPoster.username %}"
           class="flex items-center hover:bg-gray-100 rounded hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600">
            <div class="rounded-full h-8 w-8 bg-[#ff6a45] flex items-center justify-center shadow-md border-white transition duration-200 transform hover:scale-110">
                {% if comment.commentPoster.profile_picture %}
                    <!-- Profile Picture -->
                {% else %}
                    <span class="text-white text-xl">{{ comment.commentPoster.full_name|first|capfirst }}</span>
                {% endif %}
            </div>
            <div class="ml-2">
                <div class="text-md font-semibold text-gray-700">{{ comment.commentPoster.username }}</div>
                <div class="text-sm text-gray-500">{{ comment.timestamp|format_time_difference }}</div>
            </div>
        </a>
        <div class="flex-1 ml-2 m-1">
           <div class="text-md leading-none text-gray-700">
                {% with comment_text=comment.text|taggedUsers:comment.taggedUsers %}
                    {{ comment_text|safe }}
                {% endwith %}
            </div>
            {% if comment.commentPoster != user %}
                <button type="button"
                        class="flex items-center text-sm text-gray-500 hover:scale-110 font-medium mt-1">
                    Reply
                </button>
            {% endif %}
        </div>
    </div>
</div>


<div class="flex items-center mt-4 space-x-4">
    {% if comment.commentPoster == user %}
        <button id="edit_comment" class="flex items-center text-sm text-gray-500 hover:underline font-medium">
            <a href="{% url 'posts:edit_comment' post_poster=comment.post.poster.username post_id=comment.post.id comment_poster=comment.commentPoster.username pk=comment.id %}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="mr-1.5 w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>
                Edit Comment
            </a>
        </button>
        <a href="{% url 'posts:delete_comment' post_poster=comment.post.poster.username post_id=comment.post.id comment_poster=comment.commentPoster.username comment_id=comment.id %}"
           class="flex items-center text-sm text-gray-500 hover:underline font-medium">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="mr-1.5 w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
            Delete Comment
        </a>
    {% endif %}
</div>