{% comment %} <h1>Edit Post</h1>
<br>
</br>
<form action="{% url 'posts:edit_post_request' post.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="save">Save</button>
</form> {% endcomment %}


<h1>Edit Post</h1>

{% if post.status == post.Status.DRAFT %}
  <form action="{% url 'posts:edit_post_request' post.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="action" value="save">Save Changes</button>
    <button type="submit" name="action" value="post">Post</button>
  </form>
{% else %}
  <form action="{% url 'posts:edit_post_request' post.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="action" value="save">Save Changes</button>
  </form>
{% endif %}