{% extends "base.html" %}
{% block title %}
    Edit Post
{% endblock title %}
{% block content %}
    <div class="bg-white rounded-lg shadow-lg p-8 m-10">
        <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 rounded-3xl sm:p-10">
            <form action="{% url 'posts:edit_post' poster=post.poster pk=post.id %}"
                  method="post">
                {% csrf_token %}
                {% if messages %}
                    <ul class="bg-red-100 border border-red-400 rounded text-red-700 p-2 mb-4">
                        {% for message in messages %}
                            <li>{{ message }}</li>{% endfor %}
                    </ul>
                {% endif %}
                <div class="mx-auto">
                    <div class="flex items-center space-x-5">
                        <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                            <h2 class="leading-relaxed">Edit Post</h2>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="flex flex-col">
                                <label class="leading-loose"
                                       for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                {{ form.title }}
                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose"
                                       for="{{ form.description.id_for_label }}">Description</label>
                                {{ form.description }}
                            </div>
                            <div class="flex flex-col">
                                <label for="{{ form.tags.id_for_label }}"
                                       class="block text-gray-700 text-sm font-bold mb-2">Tags:</label>
                                <div class="max-h-30 overflow-y-auto p-1">
                                    {% for tag in form.tags %}
                                        <label class="flex flex-row justify-between">
                                            <span class="text-gray-700">{{ tag.choice_label }}:</span>
                                            {{ tag.tag }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="pt-4 flex items-center space-x-4">
                            <a href="{% url 'main:home' %}"
                               class="bg-red-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                                <svg class="w-6 h-6 mr-3"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                                Cancel
                            </a>
                            {% if post.status == post.PostStatus.ACTIVE %}
                                <button type="submit"
                                        name="action"
                                        value="post"
                                        class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                                    Save
                                </button>
                            {% elif post.status == post.PostStatus.DRAFT %}
                                <button type="submit"
                                        name="action"
                                        value="draft"
                                        class="flex justify-center items-center w-full text-black border-black border px-4 py-3 rounded-md focus:outline-none">
                                    Save To Drafts
                                </button>
                                <button type="submit"
                                        name="action"
                                        value="post"
                                        class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                                    Post
                                </button>
                            {% elif post.status == post.PostStatus.ARCHIVED %}
                                <button type="submit"
                                        name="action"
                                        value="post"
                                        class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                                    Repost
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
