{% extends "base.html" %}
{% load username_customfilters %}
{% block title %}
    Post
{% endblock title %}
{% comment %} djlint:off H021 {% endcomment %}
{% block content %}
    <div class="rounded-xl border p-5 shadow-md bg-white m-10">
        <!-- TITLE & BUTTONS -->
        <div class="flex flex-wrap w-full items-center justify-between border-b -mt-2">
            <!-- TITLE -->
           <div class="flex items-center text-2xl font-bold text-gray-700 mb-3">{{ post.title|capfirst }}</div>
           <!-- BUTTONS -->
            <div class="flex flex-wrap justify-self-end items-center">
                <div class="flex items-center justify-items-start mr-2 mb-2">
                    <!-- SHARE -->
                    <div class="relative inline-flex items-center justify-center py-2 overflow-hidden font-medium text-green-500 transition duration-300 ease-out border-2 border-green-500 rounded-full shadow-md group w-12 h-12 m-1">
                        <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 ease">
                            <!-- White background with green icon -->
                            <button id="copyLinkBtn">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                                </svg>
                            </button>
                        </span>
                        <span class="absolute flex items-center justify-center w-full h-full text-green-500 transition-all duration-300 ease group-hover:bg-green-500 group-hover:text-white">
                            <!-- green background with white icon -->
                            <button id="copyLinkBtn">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                                </svg>
                            </button>
                        </span>
                    </div>
                    {% if user == post.poster %}
                        <!-- EDIT -->
                        <a href="{% url 'posts:edit_post' poster=post.poster pk=post.id %}"
                           class="relative inline-flex items-center justify-center py-2 overflow-hidden font-medium text-blue-500 transition duration-300 ease-out border-2 border-blue-500 rounded-full shadow-md group w-12 h-12 m-1">
                            <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 ease">
                                <!-- White background with blue icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </span>
                            <span class="absolute flex items-center justify-center w-full h-full text-blue-500 transition-all duration-300 ease group-hover:bg-blue-500 group-hover:text-white">
                                <!-- blue background with white icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </span>
                        </a>
                        <!-- ARCHIVE -->
                        <a href="{% url 'posts:archive_post' poster=post.poster pk=post.id %}"
                           class="relative inline-flex items-center justify-center py-2 overflow-hidden font-medium text-violet-500 transition duration-300 ease-out border-2 border-violet-500 rounded-full shadow-md group w-12 h-12 m-1">
                            <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 ease">
                                <!-- White background with purple icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                                </svg>
                            </span>
                            <span class="absolute flex items-center justify-center w-full h-full text-violet-500 transition-all duration-300 ease group-hover:bg-violet-500 group-hover:text-white">
                                <!-- purple background with white gear -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                                </svg>
                            </span>
                        </a>
                        <!-- DELETE -->
                        <a href="{% url 'posts:delete_post' post.id %}"
                           class="relative inline-flex items-center justify-center py-2 overflow-hidden font-medium text-red-500 transition duration-300 ease-out border-2 border-red-500 rounded-full shadow-md group w-12 h-12 m-1">
                            <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 ease">
                                <!-- White background with red icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </span>
                            <span class="absolute flex items-center justify-center w-full h-full text-red-500 transition-all duration-300 ease group-hover:bg-red-500 group-hover:text-white">
                                <!-- red background with white icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap w-full items-center justify-between">
            <a href="{% url 'main:profile_page' user.username %}"
               class="flex items-center hover:bg-gray-100 rounded hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 mt-2">
               <div class="rounded-full h-8 w-8 bg-[#ff6a45] flex items-center justify-center shadow-md border-white transition duration-200 transform hover:scale-110">
                  {% if post.poster.profile_picture %}
                     {% comment %} Profile Picture with same shape {% endcomment %}
                  {% else %}
                     <span class="text-white text-xl">{{ post.poster.full_name|first|capfirst }}</span>
                  {% endif %}
               </div>
               <div class="flex items-center ml-2">
                  <div class="text-md font-regular">{{ post.poster.username }}</div>
               </div>
            </a>
            <div class="flex flex-wrap justify-self-end items-center">
                <div class="flex items-center justify-items-start mr-2 mt-2">
                    {% for tag in post.tags.all %}
                        <button class="mr-1 rounded-2xl border border-blue-600 text-blue-600 bg-white px-3 py-1 text-xs font-semibold">{{ tag }}</button>
                    {% endfor %}
                </div>
                <div class="text-xs text-neutral-500 text-right mr-1 mt-2">{{ post.timestamp.date }}</div>
            </div>
        </div>
        <div class="mt-4 mb-6">
            <div class="text-neutral-600">{{ post.description }}</div>
        </div>
        <div class="flex justify-between items-center mt-5 mb-4">
            <h2 class="text-lg font-semibold text-gray-700 border-t w-full pt-2">Comments</h2>
        </div>
        <div>
            {% if comments %}
                {% for comment in comments %}
                    {% include "posts/comment_card.html" with comment=comment %}
                {% endfor %}
            {% else %}
                <p>No comments yet! Add one to start the conversation.</p>
            {% endif %}
        </div>
        <form class="mt-6 mb-6" method="post">
            {% csrf_token %}
            <div class="flex justify-between w-full mb-4">
                <label for="comment" class="sr-only">Add a new comment:</label>
                <textarea name="new_comment"
                          id="comment"
                          rows="1"
                          class="px-4 py-3 bg-white rounded-lg rounded-t-lg border border-gray-200 w-4/5 focus:ring-0 focus:outline-none"
                          placeholder="Add a comment..."
                          required></textarea>
                <button type="submit"
                        class="ml-3 w-1/5 py-3 text-sm font-medium text-center text-white bg-[#ff6a45] rounded-lg focus:ring-4">
                    Post
                </button>
            </div>

        </form>
    </div>
    





{% comment %}
    <div class="rounded-xl border p-5 shadow-md bg-white min-h-full max-h-full m-10">
        <div class="flex w-full items-center justify-between border-b pb-3">
            <div class="flex items-center space-x-3">
                <a href="{% url 'main:profile_page' post.poster.username %}"
                   class="rounded-full h-8 w-8 bg-gray-300 flex items-center justify-center ml-2">
                    <span class="text-gray-700 text-lg">{{ post.poster.username|first|capfirst }}</span>
                </a>
                <div class="text-lg font-bold text-gray-700">{{ post.poster.username|capfirst }}</div>
            </div>
            <div class="flex items-center space-x-8">
                {% for tag in post.tags.all %}
                    <div class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold">{{ tag }}</div>
                {% endfor %}
                <div class="text-xs text-neutral-500">Posted on: {{ post.timestamp.date }}</div>
                <button id="copyLinkBtn">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="mt-4 mb-6">
            <div class="mb-3 text-2xl font-bold">{{ post.title|capfirst }}</div>
            <div class="text-lg text-neutral-600">{{ post.description }}</div>
        </div>
        {% if user == post.poster %}
            <div class="pt-4 flex items-center space-x-4">
                <a href="{% url 'posts:delete_post' post.id %}"
                   class="bg-red-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                    <svg class="w-6 h-6 mr-1"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                    Delete Post
                </a>
                <a href="{% url 'posts:archive_post' poster=post.poster pk=post.id %}"
                   class="flex justify-center items-center w-full text-black border-black border px-4 py-3 rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                    Archive Post
                </a>
                <a href="{% url 'posts:edit_post' poster=post.poster pk=post.id %}"
                   class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                    Edit Post
                </a>
            </div>
        {% endif %}
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg font-bold text-gray-900">Comments:</h2>
        </div>
        <form class="mb-6" method="post">
            {% csrf_token %}
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                <label for="comment" class="sr-only">Add a new comment:</label>
                <textarea name="new_comment"
                          id="comment"
                          rows="6"
                          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none"
                          placeholder="Awesome..."
                          required></textarea>
            </div>
            <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#ff6a45] rounded-lg focus:ring-4">
                Comment
            </button>
        </form>
        <article class="p-3 text-base bg-white overflow-y-auto h-3/5">
            {% for comment in comments %}
                <div class="mb-10 pb-5 border-b-2">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <div class="rounded-full h-8 w-8 bg-gray-300 flex items-center justify-center mr-2">
                                <span class="text-gray-700 text-lg">{{ comment.commentPoster.username|first|capfirst }}</span>
                            </div>
                            <div class="text-lg font-semibold text-gray-700">{{ comment.commentPoster.username|capfirst }}</div>
                        </div>
                        <p class="text-sm text-gray-600 ">{{ comment.timestamp.date }}</p>
                    </footer>
                    <p class="text-gray-500 ">{{ comment.text|taggedUsers:comment.taggedUsers|safe }}</p>
                    <div class="flex items-center mt-4 space-x-4">
                        {% if comment.commentPoster == user %}
                            <a href="{% url 'posts:delete_comment' post_poster=post.poster.username post_id=post.id comment_poster=comment.commentPoster.username comment_id=comment.id %}"
                               class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                                Delete Comment
                            </a>
                            <a href="{% url 'posts:edit_comment' post_poster=post.poster.username post_id=post.id comment_poster=comment.commentPoster.username comment_id=comment.id %}"
                               id="edit_comment"
                               class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                                Edit Comment
                            </a>
                        {% else %}
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg class="mr-1.5 w-3.5 h-3.5"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                                </svg>
                                Reply
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var copyLinkBtn = document.getElementById('copyLinkBtn');

            copyLinkBtn.addEventListener('click', function() {
                var postUrl = window.location.href;

                var tempInput = document.createElement('input');
                tempInput.value = postUrl;
                document.body.appendChild(tempInput);

                tempInput.select();
                document.execCommand('copy');

                document.body.removeChild(tempInput);

                alert('Post link copied to clipboard!');
            });
        });
        
    </script>
{% endcomment %}
{% endblock content %}






{% comment %} <br>
{% if user == post.poster %}
    <div class="flex-container" style="display: flex; margin: 10px;">
        <form action="{% url 'posts:archive_post_request' post.id %}" method="post">
            {% csrf_token %}
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                <label for="comment" class="sr-only">Add a new comment:</label>
                <textarea name="new_comment" id="comment" rows="6" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none" placeholder="Awesome..." required></textarea>
            </div>
            <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#ff6a45] rounded-lg focus:ring-4">
                Comment
            </button>
        </form>
        <article class="p-3 text-base bg-white overflow-y-auto h-3/5">
            {% for comment in comments %}
                <div class="mb-10 pb-5 border-b-2">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <div class="rounded-full h-8 w-8 bg-gray-300 flex items-center justify-center mr-2">
                                <span class="text-gray-700 text-lg">{{ comment.commentPoster.username|first|capfirst }}</span>
                            </div>
                            <div class="text-lg font-semibold text-gray-700">{{ comment.commentPoster.username|capfirst }}</div>
                        </div>
                        <p class="text-sm text-gray-600 ">{{ comment.timestamp.date }}</p>
                    </footer>
                    <p class="text-gray-500 ">{{ comment.text }}</p>
                    <div class="flex items-center mt-4 space-x-4">
                        {% if comment.commentPoster == user %}
                            <a href="{% url 'posts:delete_comment' post_poster=post.poster.username post_pk=post.id comment_poster=comment.commentPoster comment_pk=comment.id %}"
                               class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                                Delete Comment
                            </a>
                            <button id="edit_comment"
                                    class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                                Edit Comment
                            </button>
                        {% else %}
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg class="mr-1.5 w-3.5 h-3.5"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                                </svg>
                                Reply
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
{% endif %} {% endcomment %}
{% comment %} <h1>Leave Your Comments</h1>
<form action="{% url 'posts:add_comment' post.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="comment">
    <button type="submit">Add Comment</button>
</form>
<h1>Other's Comments</h1>
<ul>
    {% for comment in comments %}
        <li>
            <p>
                <a href="{% url 'main:profile' comment.commentPoster.pk %}">{{ comment.commentPoster.username }}</a>
                ({{ comment.commentPoster.get_pronouns_display }})
            </p>
            {{ comment.text }}
            {% if user == comment.commentPoster %}
                <span>
                    <a href="{% url 'posts:edit_comment' post.id comment.id %}">Edit</a>
                    <a href="{% url 'posts:delete_comment' post.id comment.id %}">Delete</a>
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ul> {% endcomment %}
