{% extends "base.html" %}
{% block content %}
    <div class="rounded-xl border p-5 shadow-md bg-white min-h-full max-h-full">
        <div class="flex w-full items-center justify-between border-b pb-3">
            <div class="flex items-center space-x-3">
                <div class="rounded-full h-8 w-8 bg-gray-300 flex items-center justify-center ml-2">
                    <span class="text-gray-700 text-lg">{{ post.poster.username|first|capfirst }}</span>
                </div>
                <div class="text-lg font-bold text-slate-700">{{ post.poster.username|capfirst }}</div>
            </div>
            <div class="flex items-center space-x-8">
                {% for tag in post.tags.all %}
                    <div class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold">{{ tag }}</div>
                {% endfor %}
                <div class="text-xs text-neutral-500">Posted on: {{ post.timestamp.date }}</div>
            </div>
        </div>
        <div class="mt-4 mb-6">
            <div class="mb-3 text-2xl font-bold">{{ post.title|capfirst }}</div>
            <div class="text-lg text-neutral-600">{{ post.description }}</div>
        </div>
        {% comment %} Buttons to edit or delete {% endcomment %}
        {% if user == post.poster %}
            <div class="pt-4 flex items-center space-x-4">
                <a href="#"
                   class="bg-red-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                    <svg class="w-6 h-6 mr-1"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                    Delete Post
                </a>
                <a href="#"
                   class="flex justify-center items-center w-full text-black border-black border px-4 py-3 rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                    Archive Post
                </a>
                <a href="#"
                   class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                    Edit Post
                </a>
                {% comment %} <button type="submit" name="action" value="post" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                    Edit Post
                </button> {% endcomment %}
            </div>
        {% endif %}
        {% comment %} Comment Section {% endcomment %}
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg font-bold text-gray-900">Comments:</h2>
        </div>
        <form class="mb-6" method="post">
            {% csrf_token %}
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                <label for="comment" class="sr-only">Add a new comment:</label>
                <textarea name="new_comment"
                          id="comment"
                          rows="6"
                          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none"
                          placeholder="Awesome..."
                          required></textarea>
            </div>
            <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#ff6a45] rounded-lg focus:ring-4">
                Comment
            </button>
        </form>
        <article class="p-3 text-base bg-white overflow-y-auto h-3/5">
            {% for comment in comments %}
                <div class="mb-10 pb-5 border-b-2">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <div class="rounded-full h-8 w-8 bg-gray-300 flex items-center justify-center mr-2">
                                <span class="text-gray-700 text-lg">{{ comment.commentPoster.username|first|capfirst }}</span>
                            </div>
                            <div class="text-lg font-semibold text-slate-700">{{ comment.commentPoster.username|capfirst }}</div>
                        </div>
                        <p class="text-sm text-gray-600 ">{{ comment.timestamp.date }}</p>
                    </footer>
                    <p class="text-gray-500 ">{{ comment.text }}</p>
                    {% comment %} TODO: Reply {% endcomment %}
                    <div class="flex items-center mt-4 space-x-4">
                        {% if comment.commentPoster == user %}
                            <a href="{% url 'posts:delete_comment' post_poster=post.poster.username post_pk=post.id comment_poster=comment.commentPoster comment_pk=comment.id %}"
                               class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                                Delete Comment
                            </a>
                            {% comment %} TODO: Edit comment {% endcomment %}
                            <button id="edit_comment"
                                    class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="mr-1.5 w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                                Edit Comment
                            </button>
                        {% else %}
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline  font-medium">
                                <svg class="mr-1.5 w-3.5 h-3.5"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                                </svg>
                                Reply
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </article>
    </div>
{% endblock content %}
