{% load static %}
<link rel="stylesheet" href="{% static 'socialuser/create_user.css' %}">
<div class="profile-form">
    <div class="heading">
        <h1>Create a New Profile</h1>
    </div>
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your name:</p>
                </div>
                <div class="input-container">{{ form.name }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your age:</p>
                </div>
                <div class="input-container">{{ form.age }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Enter your major:</p>
                </div>
                <div class="input-container">{{ form.major }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Choose your pronouns:</p>
                </div>
                <div class="input-container">{{ form.pronouns }}</div>
            </div>
            <div class="form-group">
                <div class="input-label">
                    <p>Select your interests:</p>
                </div>
                {% comment %} <div class="input-container tags-container">{{ form.tags }}</div> {% endcomment %}
                <div class="input-container tags-container">
                    {% for checkbox in form.tags %}
                        <label class="tag-label">{{ checkbox.tag }} {{ checkbox.choice_label|capfirst }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="submit">Create Profile</button>
            </div>
        </form>
    </div>
</div>
