{% load chat_customfilters %}
<div class="flex flex-col p-8 mb-5 bg-white shadow-lg hover:shodow-xl rounded-2xl overflow-auto">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-16 h-16 rounded-2xl p-3 border border-indigo-100 text-indigo-400 bg-indigo-50">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>
            <div class="flex flex-col ml-3">
                <div class="flex flex-row">
                    <div class="mr-1 font-medium text-2xl leading-none"> {{room.members|make_chat_member_list:user}}</div>
                </div>
            </div>
        </div>
        <div class="flex">
            <a href="{% url 'chat:chat_room' room.id %}"
               class="w-40 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg shadow-sm cursor-pointer bg-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                </svg>
                <span class="relative">View Chat</span>
            </a>
        </div>
    </div>
</div>
