{% extends "base.html" %}
{% block title %}
    Chat Rooms
{% endblock title %}
{% block content %}
    <div class="m-20 mt-5 overflow-auto">
        <div class="justify-center">
            <div class="container mx-auto mt-10 mb-10 overflow-scroll">
                <div class="overflow-y-auto">
                    <h1 class="text-3xl mb-5 text-center">Chats</h1>
                    {% if chat_rooms %}
                        {% for room in chat_rooms %}
                            {% include "chat/chat_room_card.html" with room=room %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-gray-500">No chats yet! Message someone to start a chat.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
