{% extends "base.html" %}
{% block content %}
    <div class="min-h-screen flex flex-row bg-gradient-to-b from-[#0f0c29] via-[#302b63] to-[#24243e]">
        <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
            <div class="flex items-center justify-center h-20 shadow-md">
                <h1 class="text-3xl uppercase text-[#302b63]">Logo</h1>
            </div>
            <ul class="flex flex-col py-4">
                <li>
                    {% for room in rooms %}
                        {% for member in room.members.all %}
                            {% if member != current_user %}
                                <a href="#"
                                   class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"></span>
                                    <span class="text-sm font-medium">{{ member }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    {% comment %} <div class="h-screen w-screen">
        <div class="flex flex-row">
            {% for room in rooms %}
                <div class="text-lg font-semibold">
                    {% for member in room.members.all %}
                        {% if member != current_user %}
                            {{ member }}
                            {% if not forloop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div>
            {% for message in messages %}{{ message }}{% endfor %}
        </div>
    </div> {% endcomment %}
{% endblock content %}
{% comment %} linear-gradient(to bottom, #0f0c29, #302b63, #24243e); {% endcomment %}
