{% if message.sender == user %}
    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
        <div>
            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                <p class="text-sm">{{ message.content }}</p>
            </div>
            <span class="text-xs text-gray-500 leading-none">Sent {{ message.created|timesince }} ago</span>
        </div>
        <a href="#"
           class="rounded-full hover:bg-gray-400 h-8 w-8 bg-gray-300 flex items-center justify-center ml-2">
            <span class="text-gray-700 text-lg">{{ message.sender.username|first|capfirst }}</span>
        </a>
    </div>
{% endif %}
